/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 300;

    /* Size */

}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

/* Typography */ 
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

button {
    background: transparent;
    border: none;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    background: var(--color-pink);
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: transparent;
    transition: all 300ms ease-in-out;
}

#navbar.navbar--dark {
    background-color: var(--color-pink);
    padding: 8px;
}

#navbar i {
    color: var(--color-white);
    font-size: var(--font-medium);
    padding: 8px 12px;
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0px 4px;
    color: var(--color-white);
}

.navbar__menu__item:hover {
    border: 1px solid var(--color-white);
    border-radius: 10%;
}

.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
    margin-top: 3px;
}

.home {
    background: url("./images/home_background.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}

.home__Avatar {
    border: 2px solid var(--color-black);
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.home__title,
.home__description  {
    color: var(--color-white);
    display: flex;
    text-align: center;
}

.home .home__contact {
    border: 2px solid white;
    border-radius: 5%;
    font-size: var(--font-regular);
    color: var(--color-white);
    padding: 8px 12px;
}

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}
.section .section__max {
    max-width: 1200px;
    margin: auto;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease;
}

.major__icon {
    width: 170px;
    height: 170px;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    line-height: 170px;
    margin: auto;
    font-size: 80px;
    color: var(--color-blue);
    margin-bottom: 16px;
}

.major__icon:hover i {
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}

.about__jobs {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.about__jobs img {
    width: 200px;
}
.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__period {
    color: var(--color-light-grey);
}

#skills {
    background: var(--color-yellow);
}

.skillset {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    background: var(--color-light-grey);
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    padding: 20px 40px;
    background: var(--color-dark-grey);
}

.skill__description {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.skill__bar {
    width: 100%;
    height: 3px;
    background: var(--color-grey);
}

.skill__value {
    width: 99%;
    height: 3px;
    background: var(--color-orange);
}


.skillset__right {
    flex-basis: 40%;
    background: var(--color-grey);
}

.tools {
    padding: 20px 40px;
}
.tools li {
    margin: 12px 8px;
}

.etc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: var(--color-light-grey);
    padding: 20px 20px 110px 20px;
}

@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
        display: block;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .about__majors {
        flex-direction: column;
    }
    .major {
        margin-bottom: 38px;
    }
    .skillset {
        flex-direction: column;
    }
}